<div id="achievement-toast" data-controller="achievements" data-achievements-target="toast">
  <div class="achievement-icon" data-achievements-target="icon"></div>
  <div class="achievement-text">
    <div class="achievement-title" data-achievements-target="title"></div>
    <div class="achievement-desc" data-achievements-target="desc"></div>
  </div>
</div>
